<div class="auth-container">
  <h2>Crear una Cuenta</h2>

  @if (errorMessage) {
    <div class="error-alert">
      {{ errorMessage }}
    </div>
  }

  <form (ngSubmit)="register()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="userData.nombre" name="nombre" placeholder="Ej: Juan" required>
    </div>
    <div class="form-group">
      <label>Apellidos</label>
      <input type="text" [(ngModel)]="userData.apellidos" name="apellidos" placeholder="Ej: Pérez García" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="userData.email" name="email" placeholder="juan@correo.com" required>
    </div>
    <div class="form-group">
      <label>DNI</label>
      <input type="text" [(ngModel)]="userData.dni" name="dni" placeholder="12345678A" required>
    </div>
    <div class="form-group">
      <label>Edad</label>
      <input type="number" [(ngModel)]="userData.edad" name="edad" placeholder="18" required>
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="userData.password1" name="password1" placeholder="Mínimo 8 caracteres" required>
    </div>
    <div class="form-group">
      <label>Confirmar Contraseña</label>
      <input type="password" [(ngModel)]="userData.password2" name="password2" placeholder="Repite la contraseña" required>
    </div>
    <button type="submit">Registrarse</button>
  </form>
  <a href="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
</div>
